@media (max-width: 1100px) {
    .header--area {
        padding: 0 16px;
    }

    .banner .bg--area-content {
        padding: 0 16px;
    }

    .formation--area {
        padding-left: 16px;
        padding-right: 16px;
    }

    .projects--items {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner .bg--area {
        background-position: left bottom;
        background-size: cover;
    }
}

@media (max-width: 768px) {

    .banner .bg--area-content {
        width: 50vw;
    }

    .h1-bold {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .projects--items {
        grid-template-columns: 1fr;
    }

    .banner .bg--area-content {
        width: 70vw;
        text-shadow: 2px 2px 2px grey;
        text-align: right;
    }

    /* Hambuerguer */
    .header--area {
        flex-direction: column;
        align-items: flex-end;
    }

    .hamburger-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition-timing-function:
    }

    nav a {
        justify-content: flex-end;
        height: 50px;
        font-size: 26px;
        margin-right: 0;
    }

    nav ul {
        flex-direction: column;
    }

    header {
        overflow: hidden;
    }

    .header--area {
        padding: 0 32px;
    }

    .skills--area {
        padding: 0 16px;
    }

    .formation--area {
        padding: 0 16px;
    }

    .projects--area {
        padding: 0 16px;
    }

    #skills {
        padding-top: 350px;
    }
    #formation {
        padding-top: 350px;
    }
    #projects {
        padding-top: 350px;
    }

}

@media (max-width: 425px) {

    .banner .bg--area-content {
        width: 100vw;
    }

    .h1-bold {
        font-size: 45px;
    }

    .h2-title {
        font-size: 32px;
    }

    .h2-title:before {
        width: 80px;
        height: 38px;
    }

    .h2-bold {
        font-size: 26px;
    }

    .skill--item-icons i {
        font-size: 45px;
    }

    .formation--item {
        grid-template-columns: 66px 1fr;
    }

    .p2-bold,
    .p2-regular {
        font-size: 16px;
    }

    .projects--item-box {
        width: 230px;
        height: 350px;
        padding: 16px;
    }

    footer {
        padding: 30px;
    }

    .button {
        padding: 16px 40px;
    }
}
